<app-header/>

<!-- panel-->
<p-panel header="Listado de Poemas">
<div     style="
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
     
    "
    >

        <!-- aca solo darle para columnas-->
    @for (item of paginatedItems; track $index) {
<p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #header>
        <img alt="Card" class="w-full" src="{{item.url}}" />
    </ng-template>
    <ng-template #title> {{item.nombre}} </ng-template>
    <ng-template #subtitle> {{item.categorium.tipo }} </ng-template>
    <p > {{item.fecha | date}} </p>
    

    <ng-template #footer>
        <div class="flex gap-4 mt-1">
            <p-button label="Leer" class="w-full" styleClass="w-full" 
            (onClick)="this.showDialog(item)"/>
        </div>
    </ng-template>
</p-card>
    }

    <!-- paginator-->
</div>
     <p-paginator (onPageChange)="onPageChange($event)" 
     [first]="first" 
     [rows]="rows" 
     [totalRecords]="items.length" [rowsPerPageOptions]="[3, 6, 10]" />

</p-panel>



<!-- vista global-->
<p-dialog header="Poema" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" 
>
    <span class="p-text-secondary block mb-8">{{this.poemaSeleccionado?.nombre}}</span>
  
    <div class="flex items-center gap-1 mb-2">
        <label for="Nacionalidad" class="font-semibold w-24" >{{this.poemaSeleccionado?.texto}}</label>
    </div>


    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
    </div>
</p-dialog>
